<div class="header-content d-flex justify-content-end align-items-center">
  <!-- <div class="company-logo">GarudaUAV</div> -->
  <div class="user-content d-flex justify-content-around">
    <div class="notification d-flex">
      <img src="assets/icons/notification_icon.svg" alt="" />
    </div>
    <div class="user-profile">
      <img src="assets/icons/user_icon.svg" alt="" />
    </div>
    <div class="city">
      <div class="btn-group">
        <button
          type="button"
          class="btn dropdown-toggle d-flex justify-content-around align-items-center"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          <img src="assets/icons/location_icon.svg" alt="" /> Noida
        </button>
      </div>
    </div>
  </div>
</div>
