<!-- d-flex flex-column align-item-center justify-content-center -->
<div class="sidebar-content">
  <div class="company-logo">
    <img src="/assets/icons/company_logo.svg" alt="" />
  </div>

  <div class="nav d-flex flex-column align-item-center justify-content-around">
    <div class="nav-item">
      <img src="/assets/icons/dashboard_logo.svg" alt="" /> Dashboard
    </div>
    <div class="nav-item">
      <img src="/assets/icons/project_icon.svg" alt="" /> Project
    </div>
    <div class="nav-item">
      <img src="/assets/icons/dept_logo.svg" alt="" /> Department
    </div>
    <div class="nav-item">
      <img src="/assets/icons/user_active_logo.svg" alt="" /> User
    </div>
    <div class="nav-item">
      <img src="/assets/icons/flight_planning_logo.svg" alt="" /> Flight
      Planning
    </div>
    <div class="nav-item">
      <img src="/assets/icons/workspace_logo.svg" alt="" /> Workspace
    </div>
    <div class="nav-item">
      <img src="/assets/icons/asset_logo.svg" alt="" /> Asset
    </div>
    <div class="nav-item">
      <img src="/assets/icons/vendor_logo.svg" alt="" /> Vendor
    </div>
    <div class="nav-item">
      <img src="/assets/icons/client_logo.svg" alt="" /> Client
    </div>
    <div class="nav-item">
      <img src="/assets/icons/location_plus_logo.svg" alt="" /> Location
    </div>
  </div>
</div>
